<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game PPT</title>
    <link rel="stylesheet" href="/assets/css/index.css" />
  </head>
  <body>
    <button id="piedra" poder="0">Piedra</button>
    <button id="papel" poder="1">Papel</button>
    <button id="tijera" poder="2">Tijera</button>

    <button id="atacar">ATACAR</button>

    <script src="/assets/js/index.js"></script>
  </body>
</html>
